{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}


{% if page == 'register'  %}
<h1>
    Register User
</h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register User">
    </form>
    <p>Already have an account <a href="{% url 'login' %}"> Login </a></p>

{% else %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="login" />

    <p>Don't have an account <a href="{% url 'register' %}">Signup</a></p>
</form>
{% endif %}
    
{% endblock content %}